<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Red Metro</title>
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h1>Base de datos Metro</h1>
		<h4>Controlador estándar</h4>
		<ul>
			<li><a th:href="@{/colores}">Lista Colores</a></li>
			<li><a th:href="@{/lineas}">Lista Líneas</a></li>
		</ul>
		<h4>Controlador rest(JSON)</h4>
		<ul>
			<li><a th:href="@{/rest/colores}">Lista Colores</a>
			<li><a th:href="@{/rest/lineas}">Lista Líneas</a>
		</ul>
	</body>
</html>